body {
	background : #FFFFFF;
	font-family: Helvetica, Arial, sans-serif;
	font-size: .9em;
	color: #000;
	text-decoration: none;
	background-image: url("http://static.tumblr.com/jakaxnf/8eDl1v8j8/bg.gif");
	background-position:center top;
	background-repeat:repeat-y;
	margin:0;
	padding:0;
	width:100%;
}

a {
	color: #E7187E;
	border-bottom: 1px #E7187E dashed;
	text-decoration: none;
	
}

h1 {
	font-family: Arial;
	background: #333333;
	color: #ffffff;
}

h2 {
	font-family: Arial;
	background: #ffffff;
	color: #333333;
	font-weight: bolder;
}

ul {
	list-style: square;
}

#body_container {
	margin-left: auto;
	margin-right: auto;
	
	margin-bottom: -50px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	
	width: 700px;
	border: 0px solid #000;
	text-align: left;
}

/* for home page menu navigation*/
#brickwall {
	background-image: url('../siteimages/home-menu.jpg');
	width: 700px;
	height: 497px;
	margin: 10px auto;
	padding: 0;
	position: relative;
	text-align: center;
	text-decoration: none;
	border-bottom: none;
}

#brickwall li {
	margin: 0; 
	padding: 0;
	list-style: none;
	position: absolute;
	text-decoration: none;
	border-bottom: none;
}

#brickwall li a {
	height: 50px;
	display: block;
	text-decoration: none;
	border-bottom: none;
}

#brickwall li span {
	display: none;
}

#seemap {
	background-image: url('../siteimages/see-the-map.png');
	width: 214px;
	height: 52px;
	left: 120px;
	top: 265px;
}

#seemap:hover {
	background-position: 0 -52px;
}

#addbldg {
	background-image: url('../siteimages/add-a-building.png');
	width: 214px;
	height: 52px;
	left: 220px;
	top: 80px;
}

#addbldg:hover {
	background-position: 0 -52px;
}

#findname {
	background-image: url('../siteimages/find-a-name.png');
	width: 214px;
	height: 52px;
	left: 230px;
	top: 400px;
}

#findname:hover {
	background-position: 0 -52px;
}

#newsitem {
	background-image: url('../siteimages/recent-news.png');
	width: 104px;
	height: 62px;
	left: 450px;
	top: 230px;
}

#newsitem:hover {
	background-position: 0 -62px;
}

/* for header */

div#header {
	margin-top: 50px;
	text-align: center;
	border: none;
}

div#header a {
	text-decoration: none;
	border: none;
}

/* for nav bar */

div#navigation {
	text-align: center;
	width: 700px;
	height: 50px;
	margin: 10px auto;
	padding: 0;
	position: relative;
	border-bottom: none;
	text-decoration: none;
}

#menuitems li {
	display: inline;
	list-style-type: none;
	position: absolute;
	margin: 0; 
	padding: 0;	
	text-decoration: none;
	border-bottom: none;
}

#menuitems li a {
	height: 50px;
	display: block;
	text-decoration: none;
	border-bottom: none;
}

#menuitems li span {
	display: none;
}

#about {
	background-image: url('../siteimages/about.png');
	width: 141px;
	height: 50px;
	left: 0px;
}

#about:hover {
	background-position: 0 -50px;
}

#tmap {
	background-image: url('../siteimages/map.png');
	width: 141px;
	height: 50px;
	left: 175px;
}

#tmap:hover {
	background-position: 0 -50px;
}


#inventory {
	background-image: url('../siteimages/inventory.png');
	width: 200px;
	height: 50px;
	left: 350px;
}

#inventory:hover {
	background-position: 0 -50px;
}

#blog {
	background-image: url('../siteimages/blog.png');
	width: 141px;
	height: 50px;
	right: 0;
}

#blog:hover {
	background-position: 0 -50px;
}

.currentmap {
	background-image: url('../siteimages/map.png');
	background-position: 0 -50px;
	width: 141px;
	height: 50px;
	left: 175px;
}

.currentinventory {
	background-image: url('../siteimages/inventory.png');
	background-position: 0 -50px;
	width: 200px;
	height: 50px;
	left: 350px;
}

/* for footer */

div#footer {
	text-align: center;
	border: none;
	height: 50px;
	clear: both;
}

#footermenu li {
	display: inline;
	margin: 0; 
	padding: 20;
}

#footermenu li a {
	color: #9FC661;
	border-bottom: 1px #9FC661 dashed;
	
}

.push {
	height: 50px;
	clear: both;
}

/* other stuff */

#map_canvas {
	
	width: 70%;
	height: 80%;
	float: left;
	margin: 10px;
}

div#inventory_canvas {
	float: left;
	margin: 10px;
}

div.sidebar {
	float:left;
	width: 100px;
}

div.add {
	display: none;
}

div.bldgfloat {
	float: left;
	width: 220px;
	height: 140px;
	font-size: x-large;
	border: 1px solid #999;
	margin:  0 15px 15px 0;
}

div.invfloat {
	float: left;
	width: 200px;
	margin:  0 20px 15px 0;
}

div.imagefloat {
	
}

#building-name {
	font-weight: bold;
}

#building-address {
	
}

img#thumbnail {
	border: 3px solid #333;
	margin: 5px;
}

#photo-form {
	font-size: small;
	margin-top: 15px;
}

#add-form {
	font-size: small;
	margin-top: 15px;
}

div#info {
	font-size: small;
	font-style: italic;
	margin-top: 15px;
	margin-bottom: 15px;
}


